In [ ]:
library(tidyverse)
library(repr)
library(tidymodels)
library(cowplot)
options(repr.matrix.max.rows = 6)
source('cleanup.R')

In [ ]:
players <- read_csv("data/players.csv")
players

In [ ]:
sessions <- read_csv("data/sessions.csv")
sessions

1) Data Description:
Players Dataset:
- Number of observations: 196
- Number of variables: 7
- 4 chr variables outlining experience, email, name, gender
- 1 lgl variable for subscription status
- 2 dbl variables outlining age and hours played
- Average age of players is 21.14 an average play time (in hours) is 5.85

In [ ]:
players |>
    summarise(players_mean_age = mean(Age, na.rm = TRUE), players_mean_hours = mean(played_hours, na.rm = TRUE))

1. Data Description: Sessions Dataset:

- Number of observations: 1535
- Number of variables: 5
- 3 chr variables outlining email, start time, end time
- 2 dbl variables outlining original start time and original end time
- The mean original start time is 1.72 x 10^12, and the mean original end time is 1.72 x 10^12
- One thing I will have to figure out is what I need to do to convert the original times into the standard times.

In [ ]:
sessions |>
    summarise(sessions_mean_start_time = mean(original_start_time, na.rm = TRUE), sessions_mean_end_time = mean(original_end_time, na.rm = TRUE))